#bill-input{
    input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
}

#bill-input{
    input[type=number]{
        -moz-appearance: textfield;
}
}

#bill-input{
    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
        }
}

